@charset "utf-8";
/* CSS Document */
/*colors for this theme:
https://color.adobe.com/Optimist-color-theme-356863/edit/?copy=true
6C6E58  |  3E423A  |  417378  |  A4CFBE  |  F4F7D9*/



/*-----Container Page---------------*/
.jumbotron {
	background-color: #D0DED6;
	margin: 0px;
}

.jumbotron {
	alignment-baseline: central;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	color: #6C6E58;
}

.nav {
	background-color: #3E423A;
	color: #A4CFBE;
    margin-bottom: 5px;
    margin-top: 5px;
}

.ntheme > li > a {
	color: #A4CFBE;	
}

.ntheme > li > a:hover {
    color: #3E423A;
	background-color: #A4CFBE;
}

.ntheme > li > a:active {
	color: black;
	background-color: #0F0;
}

.ntheme > li > a:focus {
	color: black;
	background-color: #F4F7D9;
}

body {
	background-color: #417378;
}

.abs-centered {
    position: relative;
    left: 25%;
}

.h3 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	color: #6C6E58;
}

p {
     color: #3E423A;   
}

.footer p {
	alignment-baseline: central;
    margin: 0px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	color: #A4CFBE;
}

[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #D0DED6;
  background-color: #D0DED6;
  border-radius: 5px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}


/*-----About---------------*/

#about #portrait {
width: 100%;
height: auto;
    border-radius: 5px;
    border: 2px solid #3E423A;
}

#about .bio {
 margin-left: 10%;   
}






/*-----Resume Page-----------------*/
.tooltip{
    position:absolute;
    z-index:1020;
    display:block;
    visibility:visible;
    padding:5px;
    font-size:25px;
    opacity:0;
    filter:alpha(opacity=0)
    font-family: 'Quicksand', sans-serif;
	font-weight: 400;
}

.resume .res-icon {
    width:100%;
    height:auto;
}

.resume p {
 alignment-baseline: center;
}

.tech-icon {
	border-radius: 25px;
}


/*-----Projects Page---------------*/

.projects img {
    width:98%; 
    height:auto;
    border: 3px solid #3E423A;
    border-radius: 10px !important;
}

#zoom {
    display:none;
    position: absolute;
}

#project h1{
 	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	color: #6C6E58;
}


#project .project-item {
    right: 0;
    bottom: 0;
    height: 162px;
}

#project td {
 padding: 0;
    border-collapse: collapse;
}

#project img {
    border-radius: 5px;
    border: 2px solid #3E423A;
}

#project .project-item .project-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#project .project-item .project-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-image: url("/img/zoomin_underlay.png");
    background-size: contain;
    border-radius: 4px;
    
    
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#project .project-item .project-link .caption:hover {
    opacity: 0.7;
}

#project .project-item .project-link .caption .caption-content {
    position: absolute;
    top: 85%;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#project .project-item .project-link .caption .caption-content i {
    margin-top: -12px;
        opacity: 50%;
}

#project .project-item .project-link .caption .caption-content h3,
#project .project-item .project-link .caption .caption-content h4 {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
	font-weight: 600;
    opacity: 1;
}

#project * {
    z-index: 2;
}

@media(min-width:767px) {
    #project .project-item {
        margin: 0 0 30px;
    }
}

/*-----Project Modals---------------*/
    /*---Modal Blurs----------------*/
    body.modal-open .blur-wrap{
        -webkit-filter: blur(7px);
        -moz-filter: blur(15px);
        -o-filter: blur(15px);
        -ms-filter: blur(15px);
        filter: blur(15px);
    }

    body.modal-open .nav{
        -webkit-filter: blur(7px);
        -moz-filter: blur(15px);
        -o-filter: blur(15px);
        -ms-filter: blur(15px);
        filter: blur(15px);
    }

    body.modal-open .jumbotron{
        -webkit-filter: blur(7px);
        -moz-filter: blur(15px);
        -o-filter: blur(15px);
        -ms-filter: blur(15px);
        filter: blur(15px);
    }

    body.modal-open .main{
        -webkit-filter: blur(7px);
        -moz-filter: blur(15px);
        -o-filter: blur(15px);
        -ms-filter: blur(15px);
        filter: blur(15px);
    }

    body.modal-open .footer{
        -webkit-filter: blur(7px);
        -moz-filter: blur(15px);
        -o-filter: blur(15px);
        -ms-filter: blur(15px);
        filter: blur(15px);
    }


.project-modal .modal-body {
    border: 10px;
    border-radius: 0;
    text-align: left;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.project-modal .modal-body h2 {
    margin: 0;
    font-size: 3em;
    font-family: 'Quicksand', sans-serif;
	font-weight: 400;
    color: #6C6E58;
}

.project-modal .modal-body img {
    margin-bottom: 30px;
    border-radius: 5px;
	display: block;
    margin-left: auto;
	margin-right: auto;
}

.project-modal .modal-body .btn {
	display: block;
    margin-left: auto;
	margin-right: auto;
}

.project-modal .modal-body .item-details {
    margin: 30px 0;
}

.project-modal .modal-backdrop {
  opacity: 0.65;
  filter: alpha(opacity=65);
}
