@charset "utf-8";
/* CSS Document */
/*colors for this theme:
https://color.adobe.com/Optimist-color-theme-356863/edit/?copy=true
6C6E58  |  3E423A  |  417378  |  A4CFBE  |  F4F7D9*/


.jumbotron {
	background-color: #D0DED6;
	margin: 0px;
}

.jumbotron {
	alignment-baseline: central;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	color: #6C6E58;
}

.nav {
	background-color: #3E423A;
	color: #A4CFBE;
}

.ntheme > li > a {
	color: #A4CFBE;	
}

.ntheme > li > a:hover {
    color: #3E423A;
	background-color: #A4CFBE;
}

.ntheme > li > a:active {
	color: black;
	background-color: #0F0;
}

.ntheme > li > a:focus {
	color: black;
	background-color: #F4F7D9;
}

body {
	background-color: #417378;
}

.footer p {
	alignment-baseline: central;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	color: #A4CFBE;
}

[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}
